### Print HelloWorld

In [4]:
print("HelloWorld")

HelloWorld

### Variables

In [5]:
a = 10
b = 20

sum = a + b
sum

30

In [8]:
print("a =",a)
print("b =",b)
print("a + b =",sum)

a = 10
b = 20
a + b = 30

### Variable Naming

1. Vaiable name can inculde A-Z, a-z, 0-9 and _ 
2. Variable can only begin with A-Z, a-z or _
3. Variable name can't start with 0-9

In [9]:
aB_123 = 10 
_aB123 = 20

# 12abc = 12  # this will give an error

In [10]:
aB_123

10

In [11]:
_aB123

20

### Variable Assignment

In [12]:
a = 10
a = 20
a = "abcd"
a

'abcd'

In [14]:
print(type(a))

a = 10
print(type(a))

<class 'str'>
<class 'int'>

### Python Numbers

In [17]:
a = 2
b = 3.14
c = 4 + 5j

print(a)
print(b)
print(c)

print(type(a))
print(type(b))
print(type(c))

2
3.14
(4+5j)
<class 'int'>
<class 'float'>
<class 'complex'>

In [18]:
a = 10
print(id(a))

a = a + 1
print(id(a))

a

4345719424
4345719456

11

In [21]:
a = 10
b = 10

print(id(a))
print(id(b)) # id of both the variables is same as its storing integer value between -5 and 256

4345719424
4345719424

In [22]:
a = 1000
b = 1000

print(id(a))
print(id(b))

140405038463760
140405038464720

In [23]:
a = 10
id1 = id(a)
b = a + 2 - 2
id2 = id(b)

print(id1 == id2)

True

### Limit/ Range of Interger

There is no range/limit for an Integer, it limit depends on the how much memory is allow to python program.

In [24]:
print(1e308)

1e+37

In [28]:
print(1e309)

inf

### Airthmetic Operators

In [29]:
a = 10
b = 4

In [30]:
a+b # addition

14

In [31]:
a-b # substraction

6

In [32]:
a*b # multiplication

40

In [33]:
a/b # floating point division

2.5

In [34]:
a//b # integer division

2

In [35]:
a**b # exponential

10000

In [36]:
a%b # modulus

2

In [38]:
# simple interest to lower integer
p = 100
r = 6
t = 2

si = (p * r * t) // 100
si

12

In [39]:
# fah to celcius conversion
f = 100

c = (f - 32.5) * 5/9
print(c)

ci  = (f - 32.5) * 5//9
print(ci)

37.5
37.0

### input()

In [40]:
a = int(input("Enter the first number = "))
b = int(input("Enter the second number = "))
print("Sum =", a+b)

Enter the first number = 3
Enter the second number = 2
Sum = 5

In [41]:
# calculate simple interest

p = int(input("Principle Amt. = "))
r = int(input("Rate of Interest = "))
t = int(input("Time = "))
print("Simple Interest =", (p*r*t)/100)

Principle Amt. = 100
Rate of Interest = 6
Time = 4
Simple Interest = 24.0

In [42]:
# fah to celcius conversion

f = int(input("Enter the Temprature in Fah. = "))

print("Temprature in Celcius =", (f - 32.5) * 5/9)

Enter the Temprature in Fah. = 100
Temprature in Celcius = 37.5