In [1]:
first_num = int(input("Enter First Number: "))
second_num  = int(input("Enter Second Number: "))

total = first_num + second_num
print("Sum of First and Second Number is - ",total)

Enter First Number: 4
Enter Second Number: 5
Sum of First and Second Number is -  9

In [2]:
type(4)

int

In [3]:
type(4.6)

float

In [4]:
type(True)

bool

In [5]:
type(6+3j)

complex

In [6]:
type(first_num)

int

Type Conversion
* Implicit
* Explicit

In [7]:
# implicit
4 + 5.5

9.5

In [8]:
4.5+5+5j

(9.5+5j)

In [9]:
# int
int(4.5)

4

In [10]:
int('45')

45

In [11]:
# float
float(4)

4.0

In [12]:
# boolean
bool(1)

True

In [13]:
# list
list("Hello")

['H', 'e', 'l', 'l', 'o']

In [14]:
# type conversion is not permanent
a=4.5

In [15]:
int(a)

4

In [ ]:
a

### Literals
Literal is a raw data given in a variable. In Python, there are various types of literals they are as follows:

* Numeric Literals
* String Literals
* Boolean Literals
* Special Literals

### 1. Numeric Literals

In [5]:
a = 0b1010 #Binary Literals
b = 100 #Decimal Literals
c = 0o310 #Octal Literals
d = 0x12c #Hexadecimal Literals

# Float Literals
float_1 = 10.5
float_2 = 1.5e2
float_3 = 1.5e-3

#Complex Literals
x = 3.14j

print(a,b,c,d)
print(float_1, float_2, float_3)
print(x, x.imag, x.real)

10 100 200 300
10.5 150.0 0.0015
3.14j 3.14 0.0

### 2. String Literals

In [7]:
string = 'Hello'
strings = "Hello World !!"
char = "N"
multiline_string = """Hello Nishank, 
How are you?"""
unicode = u"\U0001f600\U0001F606\U0001F923"
raw_str = r"raw \n string"

print(string)
print(strings)
print(char)
print(multiline_string)
print(unicode)
print(raw_str)

Hello
Hello World !!
N
Hello Nishank,
How are you?
ðŸ˜€ðŸ˜†ðŸ¤£
raw \n string

### 3. Boolean Literals

In [8]:
i = True + 4
k = False + 10

print(i,k)

5 10

### 4. Special Literals

In [9]:
n = None # variable decletaion in python

print(n)

None

### Operators
Operators are used to perform operations on variables and values. Python has the following operators:

* Arithmetic operators
* Comparison operators
* Logical operators
* Bitwise operators
* Assignment operators
* Identity operators
* Membership operators