Dictionary is an unordered collection of items.
Unlike other data types, it can hold data values like a map, commonly known as Key: Value pair.

Dictionaries are mutable, so you can alter their values and keys.

In [24]:
info_1 = {'Ron':101, 'Jack':102, 'Rick':103}
print(info_1)

{'Ron': 101, 'Jack': 102, 'Rick': 103}

In [25]:
info_1 = {'Ron':101, 'Ron':102, 'Rick':103}

In [26]:
info_1['Ron']

102

If you are using a 'key' multiple times, the latest value associated with the key is taken.

In [27]:
info_2 = dict({'Ron':101, 'Jack':102, 'Rick':103})
print(info_2)

{'Ron': 101, 'Jack': 102, 'Rick': 103}

In [28]:
info_3 = dict(Ron = 101, Jack = 102, Rick = 103)
print(info_3)

{'Ron': 101, 'Jack': 102, 'Rick': 103}

In [29]:
myList = [('Tom',104), ('John',105)]
print(dict(myList))

{'Tom': 104, 'John': 105}

In [30]:
myTuple = (('Tom',104), ('John',105))
print(dict(myTuple))

{'Tom': 104, 'John': 105}

In [31]:
info_1 = {'Ron':101, 'John':102, 'Rick':103}
info_1['Ron'] = 108 #change value of a key
print(info_1)

{'Ron': 108, 'John': 102, 'Rick': 103}

In [32]:
info_1['Siri'] = 110 # adding an new element to the dictionary 
print(info_1)

{'Ron': 108, 'John': 102, 'Rick': 103, 'Siri': 110}

In [33]:
info_1.keys()

dict_keys(['Ron', 'John', 'Rick', 'Siri'])

In [34]:
info_1.values()

dict_values([108, 102, 103, 110])

In [35]:
info_1.items()

dict_items([('Ron', 108), ('John', 102), ('Rick', 103), ('Siri', 110)])

In [36]:
for i , j in info_1.items():
    print(i,j)

Ron 108
John 102
Rick 103
Siri 110

In [37]:
info_1_2 = {**info_1, **info_2} # merging two dictionaries
print(info_1_2)

{'Ron': 101, 'John': 102, 'Rick': 103, 'Siri': 110, 'Jack': 102}

But remember, info_1 is the first, and the info_2 is the second.

So if you have duplicate keys, the info_2 is considered to have the latest value.

If you wanted to consider info_1 as the latest, you must swap the order of merge.

In [38]:
info_1.update(info_2) 
print(info_1)

{'Ron': 101, 'John': 102, 'Rick': 103, 'Siri': 110, 'Jack': 102}

In [39]:
len(info_1)

5

In [40]:
del info_1['Ron']
print(info_1)

{'John': 102, 'Rick': 103, 'Siri': 110, 'Jack': 102}

In [41]:
info_1 = {'Ron':101, 'Jack':102, 'Rick':103}
del info_1

In [42]:
info_1 = {'Ron':101, 'Jack':102, 'Rick':103}
info_1.clear()
print(info_1)

{}

In [43]:
info_1 = {'Ron':101, 'Jack':102, 'Rick':103}
info_1.pop('Ron')
print(info_1)

{'Jack': 102, 'Rick': 103}

In [44]:
'Jack' in info_1

True

In [47]:
info_1 = {'Ron':101, 'Jack':102, 'Rick':103}
info_2 = {'Ron':101, 'Jack':102, 'Rick':103}
info_1 == info_2

True

In [48]:
info_1 != info_2

False

In [50]:
info_1 = {'Ron':101, 'Jack':102, 'Rick':103}

info = info_1.copy() # shallow copying
print(info)

{'Ron': 101, 'Jack': 102, 'Rick': 103}

This type of copying is known as shallow copying, which works when the dictionary is immutable.
In shallow copying, any changes made to a copy of the object will also reflect in the original object.

To counter that, there is another type of copying known as deep copying.
In which any changes made to a copy of the object do not reflect in the original object.

In [53]:
msg = {'A':'Sleep', 'B':'Eat', 'X':['Play', 'Study']}

inform = msg.copy() # shallow copying

print(msg)
print(inform)

{'A': 'Sleep', 'B': 'Eat', 'X': ['Play', 'Study']}
{'A': 'Sleep', 'B': 'Eat', 'X': ['Play', 'Study']}

In [54]:
inform['X'][1] = 'Cook'

print(inform)
print(msg)

{'A': 'Sleep', 'B': 'Eat', 'X': ['Play', 'Cook']}
{'A': 'Sleep', 'B': 'Eat', 'X': ['Play', 'Cook']}

In [57]:
import copy

msg = {'A':'Sleep', 'B':'Eat', 'X':['Play', 'Study']}

inform = copy.deepcopy(msg) # deep copying

print(msg)
print(inform)

{'A': 'Sleep', 'B': 'Eat', 'X': ['Play', 'Study']}
{'A': 'Sleep', 'B': 'Eat', 'X': ['Play', 'Study']}

In [58]:
inform['X'][1] = 'Cook'

print(inform)
print(msg)

{'A': 'Sleep', 'B': 'Eat', 'X': ['Play', 'Cook']}
{'A': 'Sleep', 'B': 'Eat', 'X': ['Play', 'Study']}

In [60]:
square = {x:x**2 for x in range(0, 5)}
print(square)

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16}

A set is an unordered collection of unique elements, you can think of a set as a dictionary which contains only keys but not the values.

The primary purpose of the set data structure is to eliminate duplicates or test for the membership.

In [61]:
mySet = {0, 1, 2, 3}
print(mySet)

{0, 1, 2, 3}

In [62]:
mySet = {0, 0, 0, 1, 2, 2, 3}
print(mySet)

{0, 1, 2, 3}

In [63]:
myList = ['Ram', 'Mohan', 'Abdul', 'John', 'Ram']
print(myList)

['Ram', 'Mohan', 'Abdul', 'John', 'Ram']

In [64]:
mySet = set(myList)

In [65]:
print(mySet)

{'Abdul', 'John', 'Ram', 'Mohan'}

In [68]:
myEmptySet = set()
print(myEmptySet)

set()

In [69]:
set('Nishank Parashar') # string to set

{' ', 'N', 'P', 'a', 'h', 'i', 'k', 'n', 'r', 's'}

In [70]:
set('Nihsank Parashar'.lower())

{' ', 'a', 'h', 'i', 'k', 'n', 'p', 'r', 's'}

In [71]:
set(['Maths', 'Physics', 'Biology']) # list to set

{'Biology', 'Maths', 'Physics'}

In [72]:
set(('Maths', 'Physics', 'Biology')) # tuple to set

{'Biology', 'Maths', 'Physics'}

In [74]:
set({'Ron':101, 'Jack':102, 'Rick':103}) # dictionary to set

{'Jack', 'Rick', 'Ron'}

In [75]:
len(mySet)

4

In [89]:
mySet = {0, 1, 2, 3}
mySet.add(8)
print(mySet)

{0, 1, 2, 3, 8}

In [90]:
mySet.update([4, 2, 7])

In [91]:
print(mySet)

{0, 1, 2, 3, 4, 7, 8}

In [92]:
mySet.remove(8)
print(mySet)

{0, 1, 2, 3, 4, 7}

In [95]:
set1 = {0, 1, 2, 3}
set2 =  {2, 3, 4, 5}

In [96]:
set1.union(set2)

{0, 1, 2, 3, 4, 5}

In [97]:
set1 | set2

{0, 1, 2, 3, 4, 5}

In [98]:
set1.intersection(set2)

{2, 3}

In [99]:
set1 & set2

{2, 3}

In [100]:
set1.difference(set2)

{0, 1}

In [101]:
set1 - set2

{0, 1}

In [103]:
set1.symmetric_difference(set2)

{0, 1, 4, 5}

In [104]:
set1 ^ set2

{0, 1, 4, 5}

In [105]:
4 in set1

False

In [107]:
set1.issubset(set2)

False

In [108]:
set1 <= set2

False

In [109]:
set1.issuperset(set2)

False

In [110]:
set1 >= set2

False

So when you are using Python sets in your program, think of them as a mathematical set and look for the methods to get things done.

Python set is an unordered data set.
That means they do not have an index, so you cannot access an element in the set.

In [113]:
set1 = {0, 1, 2, 3}

for i in set1:
    print(i)

0
1
2
3

FrozenSet is Immutable.

In [115]:
myFrozenSet = frozenset({1, 2, 4})
print(myFrozenSet)

frozenset({1, 2, 4})

Python doesn't have a standard module for date and time.
So, if you want to work with Date and Time, you must import the datetime module from the Python library.

The date-time module offers you, four primary classes to efficiently work with the date and time.
1. date
2. time
3. datetime
4. timedelta

All the objects of these classes are immutable.

The date class offers a bunch of other methods such as weekday(), replace(), strftime(), etc.

In [116]:
from datetime import date

In [121]:
dob = date(1998,11,14)
print(dob)

1998-11-14

In [122]:
date.today()

datetime.date(2021, 10, 14)

In [123]:
print(dob.year)
print(dob.month)
print(dob.day)

1998
11
14

In [124]:
dob.strftime("%A %d - %b %Y")

'Saturday 14 - Nov 1998'

https://docs.python.org/3/library/datetime.html

In [125]:
from datetime import time

In [126]:
meet = time(11,22,48,90)
print(meet)

11:22:48.000090

So, the time function takes four arguments - hour, minute, second, and microsecond.

All the arguments are optional, and the default value is assumed to be zero.

Same as the date() function, the time() function also implements stringent validation, and you cannot supply invalid values.

In [127]:
print(meet.hour)
print(meet.minute)
print(meet.second)
print(meet.microsecond)

11
22
48
90

In [129]:
from datetime import datetime

dob_time = datetime(1998,11,14,11,22,48,90)
print(dob_time)

1998-11-14 11:22:48.000090

In [130]:
from datetime import timedelta

duration = timedelta(days = 2, hours = 2, minutes = 33)
print(duration)
# Python internally stores the duration in days, seconds, and microseconds only.

2 days, 2:33:00

In [131]:
dob1 = datetime(1998,11,14)
dob2 = datetime(1999,1,15)

In [133]:
dob2 - dob1

datetime.timedelta(days=62)

In [134]:
duration = timedelta(days = 2)

dob1 - duration

datetime.datetime(1998, 11, 12, 0, 0)

Python dosen't allows any kind of arthimatic operation on the time object.