Python Strings - 

1. String Literals
2. String Function
3. String Formatting

In [1]:
fullName1 = '"Nishank" Parashar'
fullName2 = "'Parashar' Nishank"

print(fullName1)
print(fullName2)

"Nishank" Parashar
'Parashar' Nishank

In [2]:
msg = """Hi!
How are you?
"""
# multiline string

print(msg)

Hi!
How are you?

In [3]:
'Don\'t run' # backslash to escape single quote

"Don't run"

In [5]:
msg = "Hi!\nHow are you?"
print(msg)

Hi!
How are you?

In [8]:
name = "Nishank Parashar"

In [9]:
len(name)

16

In [10]:
name.split()

['Nishank', 'Parashar']

In [11]:
subject = "Big Data, Machine Learning, Artificial Intelligence"
subject.split(',')

['Big Data', ' Machine Learning', ' Artificial Intelligence']

In [12]:
nameList = ['Big Data', ' Machine Learning', ' Artificial Intelligence']
nameString = ','.join(nameList) # precisely the opposite of the split() function
print(nameString)

Big Data, Machine Learning, Artificial Intelligence

In [13]:
msg = 'Hey there! I am going to the park.'
print(msg.replace('park','zoo'))
print(msg)

Hey there! I am going to the zoo.
Hey there! I am going to the park.

But remember, strings are immutable, so the original string is not changed.

It remains the same and replace() returns a new string after replacing the old sequence with the new sequence.

In [15]:
name = "   Nishank Parashar   "
print(name.strip())
print(name.rstrip())
print(name.lstrip())

Nishank Parashar
   Nishank Parashar
Nishank Parashar

String Funtions

https://docs.python.org/3.8/library/stdtypes.html#string-methods

In [19]:
name = "John"
age = "25"

info = "Hey! It's " + name + " and I am " + age + " years old."
print(info)

Hey! It's John and I am 25 years old.

In [21]:
info = "Hey! It's {} and I am {} years old.".format(name,age)
print(info)

Hey! It's John and I am 25 years old.

So, we use a pair of curly braces as placeholders.
Then we use format function to substitute variable values in order.

Remember, the first variable value will substitute the first pair of the braces, and the second variable is going to replace the second pair.

In [23]:
info = f"Hey! It's {name} and I am {age} years old."
print(info)

Hey! It's John and I am 25 years old.

A tuple is a collection of Python objects separated by commas, which is similar to a List.

The most crucial difference between the two of them is the mutability.
A tuple is immutable, whereas the list is a mutable object.

We enclose tuples in parentheses, and lists in square brackets.
The elements inside a list or a tuple can be of a heterogenous type, which means you can mix different types of objects.

https://docs.python.org/3.8/library/functions.html#built-in-functions

In [28]:
myTuple = ('Big Data', 'Artificial Intelligence')
myList = ['Machine Learning', 'Data Analytics']

print(myTuple)
print(myList)

('Big Data', 'Artificial Intelligence')
['Machine Learning', 'Data Analytics']

In [29]:
myList2 = ['Machine Learning', '101']
print(myList2)

['Machine Learning', '101']

In [30]:
myList2.append('Data Science')
print(myList2)

['Machine Learning', '101', 'Data Science']

In [31]:
print(len(myList2))
print(len(myTuple))

3
2

In [39]:
list1 = [10,22,42,45]
list1.pop()

45

In [40]:
list1

[10, 22, 42]

In [41]:
list1.append(8)

In [42]:
list1

[10, 22, 42, 8]

In [43]:
list1.insert(1,12)

In [44]:
list1

[10, 12, 22, 42, 8]

Python Loops - 

1. While Loops
2. For Loops

In [46]:
a = 0
while a < 5:
    print(a)
    a += 1

0
1
2
3
4

In [47]:
name = "Learning Journal"
i = 0
while True:
    if name[i] == 'J':
        break
    print(name[i])
    i += 1

L
e
a
r
n
i
n
g

In [48]:
num  = 5

while num > 0:
    num -= 1
    if num == 2:
        continue
    print(num)

4
3
1
0

In [49]:
grocery_list = ['egg', 'milk', 'bread', 'veggies']

for food in grocery_list:
    print(food)

egg
milk
bread
veggies

In [50]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

We can create a range by simply calling a range function.

The range function takes at least one argument, and the single argument represents the stop counter.

However, when you supply a single argument, the range function assumes a default start counter as 0.

In [51]:
for i in range(5,20,4): # start, end and positive step size
    print(i)

5
9
13
17

In [54]:
for i in range(55,20,-4): # negitive step size
    print(i)

55
51
47
43
39
35
31
27
23

In [56]:
rectangles = [(10,13), (2,4), (8,6)]

areas = []
rectangles_areas = []

for (x,y) in rectangles:
    areas.append(x*y)
    rectangles_areas.append((x,y,x*y))
    
print(areas)
print(rectangles_areas)

[130, 8, 48]
[(10, 13, 130), (2, 4, 8), (8, 6, 48)]

In [57]:
rectangles = [(10,13), (2,4), (8,6)]

In [58]:
rectangles_areas = [(x,y,x*y) for (x,y) in rectangles]
print(rectangles_areas)

[(10, 13, 130), (2, 4, 8), (8, 6, 48)]